@import url("/fonts/barlow/stylesheet.css");
@import url("/fonts/roboto/stylesheet.css");

$blue0: rgb(93, 170, 250);
$blue1: rgb(93, 109, 250);
$blue2: rgb(0, 0, 30);
$blue3: rgb(61, 143, 209);

$gray0: rgb(165, 165, 165);
$gray1: rgb(200, 200, 200);

$drop-shadow: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));

$md-margin: 15px;

%text-gradient {
  font-size: 16pt;
  background-image: linear-gradient(0deg, $blue0, $blue1);
  background-clip: text;
  color: transparent;
}

%text-thin {
  font-family: "Barlow-Thin";
  font-weight: bold;
}

// predefined
body {
  background-color: rgb(0, 12, 33);
  background-image: url("/images/city.png"), url("/images/gradient.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0px;
  font-family: "Barlow-Regular";
  font-size: 12pt;
}

a {
  text-decoration: none;
}

// ids
#landing-text {
  @extend %text-gradient;
  @extend %text-thin;
  font-size: 40pt;
  margin: 0px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  line-height: 72px;
}

#landing-text-mobile {
  @extend %text-thin;
  color: $blue1;
  font-size: 40pt;
  margin: 0px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  line-height: 72px;
}

#title {
  @extend %text-gradient;
  @extend %text-thin;
  font-size: 32pt;
  margin: 0px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  line-height: 60px;
  width: 100%;
}

#title-mobile {
  @extend %text-thin;
  color: $blue1;
  font-size: 32pt;
  margin: 0px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  line-height: 60px;
  width: 100%;
}

#page-container {
  width: 80%;
  max-width: 800px;
  margin: auto auto;
}

#container-no-header-filler {
  width: 100%;
  height: 85px;
}

#content-container {
  font-weight: 100;
  color: $gray1;
  margin: 0 auto;
  padding: 32px;
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
  background: linear-gradient(90deg, rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.1));
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.3);
  backdrop-filter: blur(2px);
}

#content {
  overflow: visible;

  *:last-child {
    margin-bottom: 0px;
  }
}

#header {
  margin: 60px;
  margin-bottom: 0px;
  height: 25px;
}

#focused {
  margin: 0;
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rule {
  width: 340px;
  height: 1px;
  border: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), $gray0, $gray0, rgba(0, 0, 0, 0));
}

// classes
.link-area {
  display: flex;
  margin: auto;
  justify-content: center;
}

.slim-link {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto-Thin";
  margin: 0;
  color: $gray0;
}

.slim-link, .slim-link:visited, .slim-link:active {
  transition: 0.25s;
}

.slim-link:hover {
  text-shadow: 0 0 5px white;
}

.btn-container-mobile {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container-slim {
  max-width: 600px !important;
}

.btn-gradient {
  transform: skew(20deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(90deg, $blue1, $blue0);
  border-radius: 5px;
  filter: $drop-shadow;
  height: 32px;
  transition: 0.25s;
  width: 140px;
  font-size: 12pt;

  span {
    transform: skew(-20deg);
    font-size: 12pt;
    color: $gray1;
  }
}

.btn-gradient:hover {
  filter: drop-shadow(0px 0px 5px transparentize($blue0, 0.5));
}

.divider {
  width: 100%;
}

.glow-icon:hover, .glow-icon:active {
  outline: 0;
}

.glow-icon, .glow-icon:visited, .glow-icon:active {
  transition: 0.25s;
}

.glow-icon:hover {
  color: #ffffff;
  filter: drop-shadow(0px 0px 4px white);
}

.bottom-bar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.glow-icon {
  margin: 0px;
  font-size: x-large;
  color: white;
}

.glow-icon:hover, .glow-icon:active {
  outline: 0;
}

.glow-icon:hover {
  color: #ffffff;
  text-shadow: 0 0 6px #ffffff;
}

.glow-icon, .glow-icon:visited, .glow-icon:active {
  transition: all 0.25s;
}

.header-text {
  @extend %text-gradient;
  font-weight: bold;
  font-family: "Barlow-Thin";
}

.header-text-last {
  font-size: 16pt;
  color: transparentize($gray0, 0.6);
}

.entry-container {
  margin: 0 auto;
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
  border: rgba(50, 50, 50, 0.3);
  background: linear-gradient(90deg, rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.1));
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.3);
  backdrop-filter: blur(2px);
  overflow: hidden;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
}

.entry-title {
  font-family: "Barlow-Medium";
  font-style: bold;
  line-height: 25px;
  height: 35px;
  font-size: 20pt;
  margin: 0px;
  background: linear-gradient(90deg, $blue1, $blue0);
  background-clip: text;
  color: transparent;
}

.entry-title-container {
  height: 35px;
  white-space: nowrap;
}

.entry-description {
  font-family: "Barlow-Regular";
  float: bottom;
  margin: 0px;
  line-height: 25px;
  font-size: 12pt;
  height: 25px;
  color: $gray1;
  white-space: nowrap;
}

.entry-left-content {
  height: 60px;
  float: left;
  padding: 20px;
  flex: 1;
}

.entry-right-content {
  height: 60px;
  float: right;
  white-space: nowrap;
  padding: 20px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  flex: 1;
}

.entry-complete {
  background: linear-gradient(90deg, rgba(0, 100, 0, 0.2), rgba(0, 50, 0, 0.1));
  box-shadow: 0px 0px 5px rgba(0, 255, 0, 0.2);
  border-color: rgba(0, 255, 0, 0.3);
}

.entry-progress {
  background: linear-gradient(90deg, rgba(100, 50, 0, 0.2), rgba(50, 25, 0, 0.1));
  box-shadow: 0px 0px 5px rgba(255, 128, 0, 0.2);
  border-color: rgba(255, 128, 0, 0.3);
}

.entry-cancel {
  background: linear-gradient(90deg, rgba(100, 0, 0, 0.2), rgba(50, 0, 0, 0.1));
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.2);
  border-color: rgba(255, 0, 0, 0.3);
}

.title-complete {
  background: linear-gradient(rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0.8));
  background-clip: text;
  color: transparent;
}

.title-progress {
  background: linear-gradient(rgba(255, 128, 0, 0.3), rgba(255, 128, 0, 0.8));
  background-clip: text;
  color: transparent;
}

.title-cancel {
  background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.8));
  background-clip: text;
  color: transparent;
}

.entry-title, .entry-title:visited,.entry-title:active,
.title-complete, .title-complete:visited, .title-complete:active,
.title-progress, .title-progress:visited, .title-progress:active,
.title-cancel, .title-cancel:visited, .title-cancel:active {
  transition: 0.25s;
}

.entry-title:hover {
  text-shadow: 0 0 6px transparentize($blue1, 0.6);
}

.title-complete:hover {
  text-shadow: 0 0 6px rgba(0, 200, 0, 0.6);
}

.title-progress:hover {
  text-shadow: 0 0 6px rgba(255, 128, 0, 0.6);
}

.title-cancel:hover {
  text-shadow: 0 0 6px rgba(255, 0, 0, 0.6);
}

.badge {
  background-color: $blue1;
  font-family: "Barlow-Thin";
  display: inline-block;
  padding: 5px 5px;
  font-size: medium;
  color: $gray1;
  text-align: center;
  vertical-align: baseline;
  border-radius: 6px;
  line-height: 8px;
  height: 10px;
  white-space: nowrap;
}

.badge-complete {
  background-color: rgb(0, 128, 0);
}

.badge-progress {
  background-color: rgb(200, 100, 0);
}

.badge-cancel {
  background-color: rgb(180, 0, 0);
}

.badge-container {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 5px;
  vertical-align: middle;
}

.md-p {
  font-size: 13pt;
  line-height: 22px;
  margin: 0px;
  margin-bottom: $md-margin;
}

.md-hr {
  height: 1px;
  background: linear-gradient(to right, $blue0, $blue1);
  border-width: 0px;
  margin: 0px;
  margin-bottom: $md-margin;
}

.md-codespan {
  padding: 4px;
  border-radius: 6px;
  font-size: 10pt;
  font-family: monospace;
  background: $blue2;
  color: $blue3;
  margin: 0px;
  margin-bottom: $md-margin;
}

.md-h1, .md-h2, .md-h3, .md-h3, .md-h4, .md-h5, .md-h6 {
  margin: 0;
  margin-bottom: $md-margin;
  font-weight: 100;
}

.md-blockcode {
  display: inline-block;
  text-align: left;
  white-space: pre;
  font-size: 10pt;
  border-radius: 6px;
  font-family: "Cascadia Code SemiLight";
  background: $blue2;
  color: $blue0;
  filter: $drop-shadow;
  max-width: calc(100% - 32px);
  overflow: hidden;
  overflow-x: scroll;
  overflow: auto;
  margin: 0px;
  padding: 10px;
}

.md-blockcode-parent {
  text-align: center;
  margin: 0px;
  margin-bottom: $md-margin;
}

.glow-link {
  color: $blue0;
}

.glow-link:hover, .header-text:hover {
  text-shadow: 0 0 6px $blue0;
}

.glow-link, .header-text,
.glow-link:visited, .header-text:visited,
.glow-link:active, .header-text:active {
  transition: all 0.25s;
}

.md-strong {
  font-family: "Barlow-Medium";
}

.md-img-parent {
  overflow: hidden;
  overflow-x: scroll;
  text-align: center;
}

.md-pre {
  margin: 0px;
}